<nav *ngIf="mostrarMenu"  class="navbar navbar-inverse" id="myNavbar">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
            <li routerLinkActive="active"><a routerLink="/manter">Manter Produtos</a></li>
            <li routerLinkActive="active"><a routerLink="/login" (click)="sair()">Sair</a></li>
        </ul>
      </div>
    </div>
  </nav>
<router-outlet></router-outlet>

